.userInfoContainer {
  border: 2px solid #e7e7e7;
  min-height: 230px;
  float: left;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 30px;
}

.thumbnailContainer {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 15px;
}

.thumbnail {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ccc;
  /*height: 150px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fullName {
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
}

.userName {
  text-align: center;
}

.userStats {
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
}

.statName {
  font-weight: 600;
  color: #657786;
}

.statValue {
  font-size: 1.5em;
  color: #1da1f2;
}

.noThumbnail {
  width: 50%;
  border-radius: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ccc;
  /*height: 150px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline-block;
  margin: 20px;
}
